* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.copyright, .icon, .contacts, .menu__links, .menu_desktop, .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo, .hero__info, .container_pos_hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input, .button, body {
  font: 400 14px/1.15 "Roboto", sans-serif;
}

.icon:hover, .card:hover, .button:hover {
  filter: drop-shadow(0 0 3px rgba(51, 51, 51, 0.431372549));
}

body {
  background-color: #EFEFEF;
  color: #000;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  min-height: 20px;
}
.container_pos_contacts {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid: auto-flow dense/1fr 30% 1fr;
  align-items: center;
  gap: 30px;
}
.container_pos_hero {
  height: 100%;
}
.container_pos_promo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
  gap: 30px;
  padding-bottom: 130px;
}

@media screen and (max-width: 1200px) {
  .container {
    margin: 0 40px;
  }
}
@media screen and (max-width: 768px) {
  .container_pos_contacts > div, .container_pos_contacts > nav {
    justify-self: center;
    grid-column: 1/4;
  }
}
@media screen and (max-width: 720px) {
  .container_pos_hero {
    align-items: center;
    justify-content: flex-start;
  }
}
.bg {
  background-color: #fff;
}
.bg_type_line {
  border-bottom: 1px solid #EFEFEF;
}

.button {
  width: 170px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 40px;
  border: 2px solid transparent;
  text-align: center;
  transition: all 0.3s;
}
.button:hover {
  transition: all 0.3s;
}
.button:active {
  transform: translateY(2px);
  filter: drop-shadow(0 0 1px rgba(51, 51, 51, 0.431372549));
}
.button_type_primary {
  letter-spacing: 0.05em;
  border-color: #fff;
  color: #fff;
  background-color: #66C05D;
}
.button_type_secondary {
  border-color: #66C05D;
  color: #000;
  background-color: #fff;
}
.button_pos_card {
  width: 130px;
  height: 35px;
  border: none;
}
.button_pos_promo {
  height: 35px;
}

.input {
  width: 225px;
  height: 35px;
  padding: 5px 25px;
  border-radius: 40px;
  background-color: #fff;
}
.input::-moz-placeholder {
  color: #C4C4C4;
}
.input:-ms-input-placeholder {
  color: #C4C4C4;
}
.input::placeholder {
  color: #C4C4C4;
}

.navigation {
  gap: 30px;
  row-gap: 5px;
  flex-wrap: wrap;
  padding: 15px 0;
}
.navigation li a {
  color: #000;
}
.navigation li a:hover {
  color: #66C05D;
}

.menu {
  height: 80px;
}
.menu_mobile {
  display: none;
}
.menu__links {
  gap: 40px;
  padding: 0;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #333333;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s ease-in-out, background 0.5s ease-in-out, opacity 0.5s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #333333;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 240px;
  height: 420px;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.431372549);
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;
  background-color: #EFEFEF;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s ease-in-out;
}
#menu li {
  padding: 10px 0;
}
#menuToggle input:checked ~ ul {
  transform: none;
}

.menu li a, #menu li a {
  font-size: 16px;
  color: #333333;
}
.menu li a:hover, #menu li a:hover {
  color: #66C05D;
}

@media screen and (max-width: 768px) {
  .menu_desktop {
    display: none;
  }
  .menu_mobile {
    display: block;
  }
}
.logo {
  min-width: 260px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo__name {
  font: 700 36px/1 "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #66C05D;
}

#logoBeauty {
  width: 80px;
  height: 80px;
}
#logoBeauty .group-1 {
  fill: #EFEFEF;
}
#logoBeauty .group-2 {
  fill: #66C05D;
}

.contacts {
  justify-content: flex-end;
  justify-self: flex-end;
  flex-wrap: wrap-reverse;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.contacts_align_center {
  width: auto;
  justify-content: center;
  justify-self: center;
}
.contacts__item {
  text-align: center;
}
.contacts__item_size_medium {
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .contacts:not(.contacts_align_center) {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .contacts:not(.contacts_align_center) {
    justify-self: center;
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .contacts_align_center {
    grid-column: 1/4;
    grid-row: 3/4;
  }
}
.hero {
  height: 600px;
  background-color: #66C05D;
  background-image: url("../images/img_main.png");
  background-position: 85% 45%;
  background-repeat: no-repeat;
  color: #fff;
}
.hero__info {
  gap: 50px;
  max-width: 310px;
}
.hero__title {
  font-weight: 700;
  font-size: 48px;
}
.hero__description {
  line-height: 1.5;
}

@media screen and (max-width: 1024px) {
  .hero {
    height: 400px;
    background-size: 600px;
    background-position-x: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    height: 300px;
    background-size: 450px;
  }
}
@media screen and (max-width: 720px) {
  .hero {
    height: auto;
    background-position: center 15%;
  }
  .hero__info {
    max-width: 100%;
    gap: 30px;
    align-items: center;
    padding: 550px 0 50px;
  }
  .hero__title, .hero__description {
    text-align: center;
  }
  .hero__description {
    width: 50%;
  }
}
@media screen and (max-width: 420px) {
  .hero__title {
    font-size: 36px;
  }
}
.special {
  padding: 80px 0;
}
.special__title {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 20px;
}
.special__cards {
  padding: 20px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 255px));
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: #fff;
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition-duration: 0.3s;
}
.card:hover {
  transition-duration: 0.3s;
}
.card__title {
  line-height: 1.4;
  text-align: center;
  color: #333333;
}
.card__price {
  font-weight: 500;
  font-size: 21px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.05em;
}

.promo {
  justify-content: space-between;
  gap: 25px;
  background-color: #66C05D;
  padding: 35px 40% 35px 40px;
}
.promo_type_subscribe {
  background-image: url("../images/icon_envelope.svg");
  background-position: calc(100% - 45px) 50%;
  background-repeat: no-repeat;
}
.promo_type_delivery {
  padding-right: 60%;
  background-image: url("../images/icon_furgon.svg");
  background-position: calc(100% - 45px) 50%;
  background-repeat: no-repeat;
}
.promo__title {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.promo__description {
  line-height: 20px;
  color: #fff;
}

.soclinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 45px;
  aspect-ratio: 1;
  border-radius: 25px;
  background-color: #FFF;
  border: 2px solid #66C05D;
  overflow: hidden;
  transition: all 0.2s;
}
.icon svg .cls-1 {
  fill: #66C05D;
}
.icon:hover {
  border-color: #5da655;
  transition: all 0.2s;
}
.icon:hover > svg {
  transform: scale(1.1);
  transition: all 0.2s;
}
.icon:hover > svg .cls-1 {
  fill: #5da655;
  transition: all 0.2s;
}

.copyright {
  justify-content: space-between;
  padding: 25px 0;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.copyright * {
  font-size: 12px;
  color: #828282;
}
.copyright a {
  text-align: right;
}
.copyright a:hover {
  color: #333333;
}/*# sourceMappingURL=index.css.map */